.menu {
    font-weight: bold;
    color: #5260ff;
}
.title {
    font-weight: bold;
    color: #5260ff;
}
ion-content.background{
    --background: url(/assets/img/page_inicio.jpg) 0 0/100% 100% no-repeat;
}
